<!DOCTYPE html>
<html>
  <head>
    <title>Mequi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <% if flash[:notice] %>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          Swal.fire({
            title: "Réservation confirmée 🎉",
            text: "<%= j flash[:notice] %>",
            icon: "success",
            confirmButtonText: "Parfait",
            confirmButtonColor: "#5f3b2f"
          });
        });
      </script>
    <% end %>

    <% if flash[:alert] %>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          Swal.fire({
            title: "Erreur",
            text: "<%= j flash[:alert] %>",
            icon: "error",
            confirmButtonText: "Ok",
            confirmButtonColor: "#8b5c42"
          });
        });
      </script>
    <% end %>
  </body>
</html>
